{% include "layout.html" %}

<div class="p-5">
    <div class="row gap-3">
        <div class="col-md-6 p-3">
            <div class="">
                <img src="{{ url_for('static', path='/images/iotw2.jpeg') }}" class="img-fluid" alt="...">
            </div>
        </div>
        <div class="col-md-6">
            <img src="{{ url_for('static', path='/images/Techenomics.png') }}" height="100" alt="...">
            <h2 class="mt-4">Online Condition Monitoring</h2>
            <p>The Internet of Things (IoT) is a network of connected devices that can collect, transmit
                and analyze data.
                One of the applications of IoT is in oil analysis, which is the process of monitoring the condition and
                quality of lubricants in machinery. Oil analysis can help detect potential problems, optimize
                maintenance
                schedules, reduce downtime and extend equipment life. IoT can enhance oil analysis by enabling real-time
                data collection, remote access, automated alerts and predictive analytics. IoT can also integrate oil
                analysis data with other sources of information, such as environmental conditions, operational
                parameters
                and historical trends. By using IoT in oil analysis, companies can improve their efficiency, reliability
                and
                profitability.</p>
            <button type="button" class="mt-3 btn btn-secondary btn-lg">Learn More</button>
        </div>
    </div>
</div>