{% include "layout.html" %}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2>{{ sensor.description }}</h2>
        </div>
        <div class="col-md-auto">
            <a href="/sensors" class="btn btn-dark btn-sm" role="button">All Sensors</a>
        </div>
    </div>
    Type: {{ sensor.type }}, at site {{ sensor.site }} on {{ sensor.equipment }} {{ sensor.compartment }}
    <div class="mt-4">
        <h3>Sensor Values</h3>
        <div class="row">
            <div class="col">
                <div class="card mt-2 shadow">
                    <div class="card-body">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Time Stamp</th>
                                <th scope="col">Debris</th>
                                <th scope="col">Temperature</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for value in values %}
                                <tr>
                                    <td>{{ value.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                                    <td>{{ value.debris }}</td>
                                    <td>{{ value.temperature }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>

    </div>
</div>