{% include "layout.html" %}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2>{{ sensor.description }}</h2>
        </div>
        <div class="col-md-auto">
            <a href="/sensors" class="btn btn-dark btn-sm" role="button">All Sensors</a>
        </div>
    </div>
    Type: {{ sensor.type }}, at site {{ sensor.site }} on {{ sensor.equipment }} {{ sensor.compartment }}
    <div class="mt-4">
        <h3>Sensor Values</h3>
        <div class="row mt-2">
            <div class="col-md-5 mb-3">
                <div class="card shadow">
                    <div class="card-body">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Time Stamp</th>
                                <th scope="col">Debris</th>
                                <th scope="col">Temperature</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for value in values %}
                                <tr>
                                    <td>{{ value.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                                    <td>{{ value.debris }}</td>
                                    <td>{{ value.temperature }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row gy-3">
                    <div class="col-12">
                        <div class="card shadow">
                            <div class="card-body">
                                <canvas id="debrisLine"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card shadow">
                            <div class="card-body">
                                <canvas id="tempLine"></canvas>
                            </div>
                        </div>
                    </div>
                </div>



                {% block javascript %}
                    <script>
                        let debs = JSON.parse({{ debs | tojson }})
                        let temps = JSON.parse({{ temps | tojson }})
                        let ts = JSON.parse({{ ts | tojson }})

                        const ctxDeb = document.getElementById('debrisLine');
                        const ctxTemp = document.getElementById('tempLine');

                        new Chart(ctxDeb, {
                            type: 'line',
                            data: {
                                labels: ts,
                                datasets: [{
                                    label: 'Debris',
                                    data: debs,
                                    borderWidth: 1,
                                    borderColor: '#36A2EB',
                                    backgroundColor: '#9BD0F5',
                                }]
                            },
                            options: {
                                maintainAspectRatio: false,
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });

                        new Chart(ctxTemp, {
                            type: 'line',
                            data: {
                                labels: ts,
                                datasets: [{
                                    label: 'Temperature',
                                    data: temps,
                                    borderWidth: 1,
                                    borderColor: '#FF6384',
                                    backgroundColor: '#FFB1C1',
                                }]
                            },
                            options: {
                                maintainAspectRatio: false,
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    </script>
                {% endblock %}
            </div>
        </div>

    </div>
</div>